<h1 class="mt-4"><i class="fas fa-carrot">My Recipe Book</i></h1>
<p class="lead mb-3">Welcome <%= name %> !</p>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img
        src="https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1608506169128-S6KYNEV61LEP5MS1UIH4/traditional-food-around-the-world-Travlinmad.jpg"
      />
      <br />
      My Recipe Book App is an application with CRUD elements. C for create, R
      for read, U for update, D for delete. You can create a recipe with title,
      add a series of steps and include the ingredients needed. You can also
      delete it if you wish and all of your recipe will be save in your account.
      <br />
      <p></p>
      <h6>Click here to start!</h6>
      <a href="/recipehome/home" class="btn btn-primary btn-block mb-2"
        >Recipe</a
      >
      <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
  </div>
</div>
